@-webkit-keyframes animatedBackground {
    from {
        background-position: 120%;
    }
    to {
        background-position: -10%;
    }
}

.plane {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 100%;
    background-image: url(/img/plane.png);
    background-size: 10%;
    background-repeat: no-repeat;
    animation: animatedBackground 6s linear 1;
}
